// Variables
$fontColor: #000;
$greenStartColor: #50db88;
$greenEndColor: #16cf62;
$redStartColor: #f4573b;
$redEndColor: #e32c0c;
$yellowStartColor: #ffcc00;
$yellowEndColor: #eabb00;
$buttonBorderColor: #ccc;
$buttonBackgroundColor: #fff;
$buttonHoverColor: #eee;
$buttonActiveColor: #ddd;

// Night mode
$nightFontColor: #fff;
$nightBackgroundColor: #222;
$buttonNightBorderColor: #666;
$buttonNightBackgroundColor: #2d2d2d;
$buttonNightHoverColor: #303030;
$buttonNightActiveColor: #2a2a2a;

// Imports
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'simplegrid.scss';
@import 'mixins.scss';
@import 'utility.scss';
@import 'auth.scss';

body{
  color: $fontColor;
  font-family: 'Raleway';
  @include font-color-fade ();
  @include background-color-fade ();

  &.night{
    color: $nightFontColor;
    background-color: $nightBackgroundColor;
  }

  .page{
    @include fade-in ();

    &.unloaded{
      opacity: 0;
    }

    &.disconnected{
      opacity: 0.3;
    }

    .status-led{
      width: 125px;
      height: 125px;
    }

    .status-message{
      font-size: 4em;
      margin: 0.25em 0;
      word-wrap: break-word;
    }

    .door-toggle{
    	margin-top: 2em;
    }
  }
}
