// Utility
.button{
  border: 2px solid $buttonBorderColor;
  border-radius: 6px;
  background-color: $buttonBackgroundColor;
  font-family: 'Raleway';
  padding: 1.25em;
  font-size: 1.5em;
  text-transform: uppercase;
  
  &:hover{
    background-color: $buttonHoverColor;
  }
  &:active{
    background-color: $buttonActiveColor;
  }
}
.hide{
  display: none;
}
.unloaded{
  opacity: 0;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.led {
  border-radius: 100%;
  display: inline-block;
  
  &.green{
    @include led ($greenStartColor, $greenEndColor);
  }
  &.red{
    @include led ($redStartColor, $redEndColor);
  }
}
textarea,
button,
input {
    outline:none;
}