.night{
  .button{
    color: $nightFontColor;
    border: 2px solid $buttonNightBorderColor;
    background-color: $buttonNightBackgroundColor;
    
    &:hover{
      background-color: $buttonNightHoverColor;
    }
    &:active{
      background-color: $buttonNightActiveColor;
    }
  }
}
.button{
  color: $fontColor;
  border: 2px solid $buttonBorderColor;
  background-color: $buttonBackgroundColor;
  font-family: 'Raleway';
  border-radius: 6px;
  padding: 1.25em;
  font-size: 1.5em;
  text-transform: uppercase;
  @include background-color-fade ();
  @include font-color-fade ();
  @include border-color-fade ();
  
  &:hover{
    background-color: $buttonHoverColor;
  }
  &:active{
    background-color: $buttonActiveColor;
  }
}
.hide{
  display: none;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483647;
}
.led {
  border-radius: 100%;
  display: inline-block;
  
  &.green{
    @include led ($greenStartColor, $greenEndColor);
  }
  &.red{
    @include led ($redStartColor, $redEndColor);
  }
  &.yellow{
    @include led($yellowStartColor, $yellowEndColor)
  }
}
textarea,
button,
input {
    outline:none;
}